body {
  margin: 0;
  background-color: #638889;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url(photo/58edeb64b1709.jpg);
  background-size: cover;
  filter: brightness(60%);
  

}


.madimi-one-regular1 {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #638889;
}

.madimi-one-regular2 {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}


.ojuju1 {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: italic;
  color: azure;



}

.ojuju2 {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: italic;
  color: azure;
  text-decoration: none;
  color: #638889;
}

.text {

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.442);

}

button {
  margin-top: 45px;
  border-radius: 15px;
  background-color: #638889;
  color: aliceblue;
  width: 100px;
  height: 50px;
  box-shadow: -1px -1px 23px -5px rgba(255, 252, 252, 0.85);
  -webkit-box-shadow: -1px -1px 23px -5px rgba(255, 252, 252, 0.85);
  -moz-box-shadow: -1px -1px 23px -5px rgba(255, 252, 252, 0.85);
}


.main1{
  background-color: #638889;
  width: 100%;
  height: 100vh;
}

.madimi-one-regular3 {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #374259;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  text-shadow: 2px 2px 8px rgba(180, 176, 176, 0.518);

}

.text1{
  padding: 50px;
  text-align: justify;
}

p{
  font-size: 18px;
}
